# Project exclude paths
/.gradle/
/build/
/build/classes/kotlin/jvm/main/
/.idea/
src/jvmMain/resources/test.json
src/jvmMain/kotlin/test.kt
buildSrc/build
buildSrc/.gradle/
ignoreDir
Http-Interactions/build
Lavalink/build
test.json
kotlin-js-store